{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'style.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
   </head>
<body>
  
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <div id="nav">
  <h2>Faculty Home Page</h2>
  <button type="button" class="button button1">
    Notifications <span class="badge badge-light">4</span>
  </button>
  <button class="button button1">Logout</button>
  </div>
 <hr> 
 <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> 
 <div id="card">    
    <div id="one">     
    
    </div>
    <div id="two">    
    
    </div>
  </div>
 
  
</body>
</html>